@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Some Fun Title</h1>
    <p>This web app exists to demonstrate .NET Core SAML SSO</a>.</p>
</div>
